.add-provider-form-container {
  .input-field input[type=text]:focus + label {
    color: $primary-color;
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
  }
  .input-field{
    @media #{$large-and-up} {
      margin-top: 28px
    }
  }
  .remove-side-margin {
    margin-left: 0;
    margin-right: 0;
  }
  .success-message{
    margin: 15px 10px;
    border-radius: 3px;
    padding: 15px;
    background-color: #81c784;
    text-align: center;
  }
  .failure-message{
    margin: 15px 10px;
    border-radius: 3px;
    padding: 15px;
    background-color: #e57373 ;
    text-align: center;
  }
  .add-provider-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .add-provider-btn {
      background-color: $primary-color;
    }
  }
}
